@import "@/styles/vars.scss";

.input {
  width: 100%;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: $background250;
  border: 1px solid $background500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  outline: none;
  background: transparent;
text-align: center;

  &:hover {
    border: 1px solid $domiant1;
    color: $domiant1;
  }

  &:focus {
    border: 1px solid $domiant1;

    color: $domiant1;
  }

  &:disabled {
    color: $domiant1;
    border: 1px solid $domiant1;
    text-align: center;
    cursor: text;
  }
}
