@import "@/styles/vars.scss";

.wrapper_modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #0000007a;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    background-color: $background500;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
