.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form_wrapper {
    width: 350px;
    height: 240px;
  }

  .wrapper_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .wrapper_loader {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper_button {
    margin-top: 10px;
  }

  
}
