$warning: #bc3174;
$domiant1: #bc98ea;
$background250: #737373;
$background500: #2f3031;
$background1000: #242526;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");

$fontFamily: "Noto Sans", sans-serif;
