@import "@/styles/vars.scss";

.button {
  box-sizing: border-box;
  background: $background500;
  border-radius: 12px;
  padding: 20px;
  outline: none;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: $background250;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  width: 100%;
  position: relative;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid $domiant1;

    color: $domiant1;
  }

  span {
    font-size: 16px;
  }

  &.active {
    border: 1px solid $domiant1;

    color: $domiant1;
  }
}
