@import "@/styles/vars.scss";

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;

  .wrapper_title {
    margin-top: 57px;
    margin-bottom: 20px;
  }

  .wrapper_bottom {
    button {
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 30px;
    }
  }

  .table {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .table_nums {
      width: 10%;
      min-width: 30px;
    }

    .table_names {
      width: 70%;
      min-width: 700px;
    }

    .table_hours {
      width: 20%;
      min-width: 100px;
    }
  }

  .wrapper_btn_add {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    button {
      width: fit-content;
    }
  }
}
